.dark-theme {
  --primary: #40619D;
  --secondary: #668AAE;
  --secondary-accent: #293c50;
  --background: #282c35;
  --background-accent: #202229;
  --text: #e5e5e5;
  --text-secondary: #bbb;
  --accent: #50609b;
  --warning: #B61624;
}
