.ligth-theme {
  --primary: #1D3557;
  --secondary: #e3f8dc;
  --secondary-accent: #f9f9f9;
  --background: #b9c9d3;
  --background-accent: #fff;
  --text: #252525;
  --text-secondary: #959595;
  --accent: #457B9D;
  --warning: #E63946;
}