.welcome-container{
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  .textarea {
    color: var(--text);
    .welcome-title {
      font-size: 1.1rem;
    }
    .username-input {
      background-color: transparent;
      font-size: 1.3rem;
      margin-top: 15px;
      font-weight: 200;
      padding-bottom: 2px;
      border: none;
      border-bottom: 1px solid var(--text-secondary);
      color: var(--text);
      &:focus{
        outline: none;
      }
    }
    .error {
      margin-top: 10px;
    }
    & * {
      text-align: center;
      display: block;
    }
  }
  .icon-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  .error {
    color: var(--warning)
  }
}