<section class="lobby-container">
  <nav class="header">
    <span class="title">Angular Chat</span>
    <div class="icon-container">
      <app-toggle-theme-icon></app-toggle-theme-icon>
    </div>
  </nav>
  <div class="userlist">
    <div *ngFor="let usernameOfList of userlist" class="user-element" (click)="messageTo(usernameOfList)">
      <span class="username">@{{usernameOfList}}</span>
      <span *ngIf="historyNotifications[usernameOfList]" class="notification">{{historyNotifications[usernameOfList]}}</span>
    </div>
    <span *ngIf="!userlist.length"class="nobody-at-lobby">
      {{lobbyEmptyMessage}}
    </span>
  </div>
</section>