.chat-container {
  display:grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr 45px;
  grid-template-areas: 
    "header"
    "chat"
    "writter";
  .header{
    display: grid;
    grid-area: header;
    background-color: var(--accent);
    grid-template-columns: 40px auto 40px;
    grid-template-rows: auto;
    grid-template-areas: "back-button username more";
    align-items: center;
    color: white;
    .username-area {
      display: flex;
      flex-direction: column;
      .username {
        font-size: 1.2rem;
        font-weight: 300;
        justify-self: center;
      }
      .typing-message {
        font-size: 0.8rem;
        font-weight: 200;
        color: #c5c5c5;
      }
    }
    .icon-container{
      justify-self: center;
      &.left {
        grid-area: back-button;
        cursor: pointer
      }
      &.rigth {
        grid-area: more;
      }
    }
  }
  .chat{
    grid-area: chat;
    overflow: hidden;
  }
  .writter {
    grid-area: writter;
    display: grid;
    align-items: center;
    grid-template-columns: auto 45px;
    grid-row: 100%;
    box-sizing: border-box;
    background-color: var(--background-accent);
    grid-template-areas: "text-area send";
  }
  .textbox {
    grid-area: text-area;
    font-size: 1.1rem;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    color: var(--text);
    &:focus{
      outline: none;
    }
  }
  .send-message {
    grid-area: send;
    justify-self: end;
    height: 43px;
    width: 43px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--accent);
    line-height: 0;
  }
}