<section class="chat-container">
  <nav class="header">
    <div class="icon-container left" (click)="toLobby()">
      <ng-material-icon icon="arrow_back" size="2" ></ng-material-icon>
    </div>
    <div class="username-area">
      <span class="username">{{username}}</span>
      <span class="typing-message" *ngIf="userTyping">{{typingMessage}}</span>
    </div>
    <div class="icon-container rigth">
      <app-toggle-theme-icon></app-toggle-theme-icon>
    </div>
  </nav>
  <app-message-scroll class="chat" fromUser="{{username}}"></app-message-scroll>
  <footer class="writter">
    <input type="text" #messageInput class="textbox" placeholder="Mensaje" (keyup.enter)="sendMessage(messageInput.value)" (input)="typing()" (blur)="stopTyping()">
    <button class="send-message" (click)="sendMessage(messageInput.value)">
      <ng-material-icon icon="send" size="2" ></ng-material-icon>
    </button>
  </footer>
</section>