<section class="chat-container">
  <nav class="header">
    <div class="icon-container left">
      <ng-material-icon icon="arrow_back" size="2" ></ng-material-icon>
    </div>
    <span class="username">Aarón</span>
    <div class="icon-container rigth">
      <ng-material-icon icon="more_vert" size="2" ></ng-material-icon>
    </div>
  </nav>
  <app-message-scroll class="chat"></app-message-scroll>
  <footer class="writter">
    <input type="text" name="" id="" class="textbox" placeholder="Mensaje">
    <button class="send-message">
      <ng-material-icon icon="send" size="2" ></ng-material-icon>
    </button>
  </footer>
</section>